<!DOCTYPE html>
<html>
<head>
    <title>Home-Trgovac</title>
    <link rel='stylesheet' href='/stylesheets/style-home-trgovac.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">


        function obrisiUKorpi() {
            // Treba da kupi vrijednost polja i da pozove neku rutu

            $.ajax({
                url: "/obrisiUKorpi/" + document.getElementById("korpa11").value,
                data: {},
                type: 'POST',
                beforeSend: function () {

                }
            }).done(function (data) {

            });
            location.reload();
        };

        function dodajNarudzbu() {
            // Treba da kupi vrijednost polja i da pozove neku rutu

            $.ajax({
                url: "/dodajNarudzbuDruga/" + document.getElementById("trgovac11").value + "/" + document.getElementById("artikal11").value + "/" + document.getElementById("koliko11").value,
                data: {},
                type: 'POST',
                beforeSend: function () {

                }
            }).done(function (data) {

            });
        };


        function pozoviMe(){
            dodajNarudzbu();
            obrisiUKorpi();
        };


        console.log("<%= narudzbe.zarada %>");
        console.log("RADI");


    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/home-kupac">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Obavijesti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mojaKorpa">Korpa</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opcije</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"> Uredi profil</a>
                        <div class="dropdown-divider"></div>
                        <form action="/logout" method="POST">
                            <input class="dropdown-item" type="submit" value="Odjavi se"/>
                        </form>
                    </div>
                </li>
            </ul>
            <form class="d-flex" style="width: 40%" method="post" action="/pretrazi">
                <div class="input-group my-group" style="width: 100%;">
                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Odaberite šta pretražiti" style="width: 10%;" name="vrstaPretrage">
                        <option value="1">Artikli</option>
                        <option value="2">Trgovci</option>
                        <option value="3">Kategorije</option>
                    </select>
                    <input type="text" class="form-control" name="search" style="width: 40%">
                    <button class="btn btn-primary my-group-button" type="submit" style="width: 20%">Pretraži</button>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-8">
            <ul class="nav nav-tabs" style="margin-left: 5px;">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home">Moja korpa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profile">Narudžbe na čekanju</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#sveNarudzbe">Sve narudžbe</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content" style="margin-left: 5px; ">

                <div class="tab-pane fade active show" id="home">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Artikal</th>
                            <th scope="col">Cijena</th>
                            <th scope="col">Kolicina</th>
                            <th scope="col">Naruči</th>
                            <th scope="col">Otkaži</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let i = 0; i < korpa.length; i++){ %>
                        <% if(korpa[i].id_kupca === kupac.id_korisnika){ %>
                        <% if(korpa[i].stanje === 1){ %>
                        <tr class="table-light">
                            <th scope="row"><%= i+1 %>.</th>
                            <% for(let j = 0; j < artikal.length; j++){ %>
                            <% if(artikal[j].id_artikla === korpa[i].id_artikla){ %>
                            <td><%= artikal[j].naziv_artikla %></td>
                            <% } %>
                            <% } %>
                            <% for(let k = 0; k < artikal.length; k++){ %>
                            <% if(artikal[k].id_artikla === korpa[i].id_artikla){ %>
                                <td><%= artikal[k].cijena %> KM</td>
                            <% } %>
                            <% } %>
                            <td><%= korpa[i].kolicina %></td>
                            <td>
                                <input type="hidden" id="korpa11" name="idKorpe" value="<%= korpa[i].id_korpe%>">
                                    <input type="hidden" id="trgovac11" name="idTrgovca" value="<%= korpa[i].id_trgovca%>">
                                    <input type="hidden" id="artikal11" name="idArtikla" value="<%= korpa[i].id_artikla %>">
                                    <input type="hidden" name="isporuka" value="1">
                                    <input type="hidden" id="koliko11" name="kolicinaOVA" value="<%= korpa[i].kolicina %>">
                                    <button type="button" class="rounded btn btn-success" onclick="pozoviMe()">Naruči</button>

                            </td>
                            <td>
                                <button type="button" class="rounded btn btn-danger" onclick="obrisiUKorpi()">Otkaži</button>
                            </td>
                        </tr>
                        <% } %>
                        <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="profile">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Artikal</th>
                            <th scope="col">Cijena</th>
                            <th scope="col">Kolicina</th>
                            <th scope="col">Stanje</th>
                            <th scope="col">Otkaži</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let i = 0; i < narudzbe.length; i++){ %>
                            <% if(narudzbe[i].id_kupca === kupac.id_korisnika){ %>
                                <% if(narudzbe[i].isporuceno === 1){ %>
                                    <tr class="table-light">
                                        <th scope="row"><%= i+1 %>.</th>
                                        <% for(let j = 0; j < artikal.length; j++){ %>
                                            <% if(artikal[j].id_artikla === narudzbe[i].id_artikla){ %>
                                                <td><%= artikal[j].naziv_artikla %></td>
                                            <% } %>
                                        <% } %>
                                        <% for(let k = 0; k < artikal.length; k++){ %>
                                            <% if(artikal[k].id_artikla === narudzbe[i].id_artikla){ %>
                                                <td><%= artikal[k].cijena %> KM</td>
                                            <% } %>
                                        <% } %>
                                        <td><%= narudzbe[i].kolicina %></td>
                                        <% if(narudzbe[i].isporuceno === 1){%>
                                        <td>
                                            Na čekanju
                                        </td>
                                        <% } else{ %>
                                            <td>
                                                Isporučeno
                                            </td>
                                        <% } %>
                                        <td>
                                            <form action="obrisiNarudzbu" method="post">
                                                <input type="hidden" name="narudzbaZaBrisanje" value="<%=narudzbe[i].id_narudzbe%>">
                                                <button type="submit" class="rounded btn btn-danger">Otkaži</button>
                                            </form>

                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="sveNarudzbe">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Artikal</th>
                            <th scope="col">Cijena</th>
                            <th scope="col">Kolicina</th>
                            <th scope="col">Stanje</th>
                            <th scope="col">Otkaži</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let i = 0; i < narudzbe.length; i++){ %>
                            <% if(narudzbe[i].id_kupca === kupac.id_korisnika){ %>

                                    <tr class="table-light">
                                        <th scope="row"><%= i+1 %>.</th>
                                        <% for(let j = 0; j < artikal.length; j++){ %>
                                            <% if(artikal[j].id_artikla === narudzbe[i].id_artikla){ %>
                                                <td><%= artikal[j].naziv_artikla %></td>
                                            <% } %>
                                        <% } %>
                                        <% for(let k = 0; k < artikal.length; k++){ %>
                                            <% if(artikal[k].id_artikla === narudzbe[i].id_artikla){ %>
                                                <td><%= artikal[k].cijena %> KM</td>
                                            <% } %>
                                        <% } %>
                                        <td><%= narudzbe[i].kolicina %></td>
                                        <% if(narudzbe[i].isporuceno === 1){%>
                                            <td>
                                                Na čekanju
                                            </td>
                                            <td>
                                                <form action="obrisiNarudzbu" method="post">
                                                    <input type="hidden" name="narudzbaZaBrisanje" value="<%=narudzbe[i].id_narudzbe%>">
                                                    <button type="submit" class="rounded btn btn-danger">Otkaži</button>
                                                </form>
                                            </td>
                                        <% } else{ %>
                                            <td>
                                                Isporučeno
                                            </td>
                                            <td>
                                                Nije moguće
                                            </td>
                                        <% } %>

                                    </tr>

                            <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <h3>Statistika</h3>
            <div class="row rounded border border-secondary">
                <h5>Artikala kupljenih:</h5>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
